include README.md
recursive-include octoprint_anycubicfilamentrunout/templates *
recursive-include octoprint_anycubicfilamentrunout/translations *
recursive-include octoprint_anycubicfilamentrunout/static *
